@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
.dark\:text-primary,
.text-primary {
    color: #e55143 !important;
}
.bg-primary{
    background-color: #e55143 !important;
}
/* ✅ Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
